[submodule "pkgs/RItools"]
	path = pkgs/RItools
	url = git@github.com:markmfredrickson/RItools.git
[submodule "BIB"]
	path = BIB
	url = https://github.com/bowers-illinois-edu/Research-Group-Bibliography.git
